<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/svg" href="/img/logo_white.svg">
  <title>Seo Base</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/general.css">
  <link rel="stylesheet" href="css/style.css">


</head>

<body>




  <div id="auth-section">
    <a href="#" class="auth-title"><img src="img/logo_white.svg" alt="seobase-logo"></a>

    <div class="auth-body">
      <h3 class="section-title">Log In</h3>
      <form class="auth-form">
        <div class="section-email">
          <label class="auth-label" for="auth-email-input">Email</label>
          <input class="auth-input" id="auth-email-input" type="email" placeholder="Enter your email">
        </div>

        <div class="section-password">
          <div class="auth-labels">
            <label class="auth-label" for="auth-password-input">Password</label>
            <label class="auth-label" for="auth-password-input"><a class="auth-forgot-password" href="#">Forgot
                Password?</a></label>
          </div>
          <div class="input-wrapper">
            <input class="auth-input" id="auth-password-input" type="password" placeholder="Enter password">
            <button class="show-password"><img class="icon-close-eye" src="img/close-eye.svg" alt="close-eye"></button>
          </div>
        </div>

        <div class="section-errors">

        </div>

        <button class="btn" id="btn-logIn">Log In</button>

      </form>

      <p class="section-create-account">Don't have an account? <a class="signUp-link" href="#">Sign Up</a> </p>
    </div>

  </div>






  <!-- javascript  -->
  <script src="js/main.js"></script>
</body>

</html>